/* PALETA DE COLORES */
/* FONT FAMILY */
html {
  scroll-behavior: smooth !important;
}

ul {
  list-style-type: none;
  padding: 0%;
}

body {
  padding: 0%;
  margin: 0%;
  width: 100%;
  background-color: rgb(253, 253, 253);
  font-family: "Trispace", sans-serif;
}

header {
  position: relative;
  /* MENU */
  /* FIRST VIEW */
}
header .menu {
  z-index: 999;
  position: fixed;
  top: 0.5rem;
  right: 2.5rem;
  /* MENU HOVER */
  /* MENU ITEMS */
  /* MENU ITEMS ENUMERATED */
}
header .menu .menu-hover, header .menu .menu-item {
  background-color: #7433ed;
  transition: all 200ms;
}
header .menu .menu-hover {
  z-index: 999 !important;
  position: relative;
  right: -20rem;
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
}
header .menu .menu-hover:hover {
  background-color: #8146ef;
}
header .menu .menu-hover:hover .wave {
  border: 4px #8146ef solid;
}
header .menu .menu-hover:hover p {
  font-size: 1.15rem;
}
header .menu .menu-hover:active {
  background-color: #641ceb;
}
header .menu .menu-hover p {
  position: relative;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0%;
  padding: 5px;
  color: white;
  transition: all 200ms;
}
header .menu .menu-hover .arrow-container {
  display: none;
  opacity: 0;
  position: relative;
  top: 20px;
}
header .menu .menu-hover .arrow-container img {
  height: 5rem;
}
header .menu .menu-hover .wave {
  z-index: 1;
  position: absolute;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-color: transparent;
  border: 4px #7433ed solid;
}
header .menu .menu-item-container {
  position: relative;
  top: -11.5rem;
  right: -1rem;
}
header .menu .menu-item {
  z-index: 998 !important;
  position: absolute;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600 !important;
  border: 1px white solid;
}
header .menu .menu-item:hover {
  background-color: #641ceb;
  font-size: 1rem;
}
header .menu #menu-item-1 {
  display: none;
  top: 5px;
  left: -5.7rem;
  transform: skewX(-45deg);
}
header .menu #menu-item-1 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
header .menu #menu-item-1 a span {
  display: inline-block;
  transform: skewX(45deg);
}
header .menu #menu-item-2 {
  display: none;
  top: 61px;
  left: -7.45rem;
  transform: skewX(-10deg);
}
header .menu #menu-item-2 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
header .menu #menu-item-2 a span {
  display: inline-block;
  transform: skewX(10deg);
}
header .menu #menu-item-3 {
  display: none;
  top: 117px;
  left: -7rem;
  transform: skewX(20deg);
}
header .menu #menu-item-3 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
header .menu #menu-item-3 a span {
  display: inline-block;
  transform: skewX(-20deg);
}
header .menu #menu-item-4 {
  display: none;
  top: 173px;
  left: -4.6rem;
  transform: skewX(45deg);
}
header .menu #menu-item-4 a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  width: 94px;
}
header .menu #menu-item-4 a span {
  display: inline-block;
  transform: skewX(-45deg);
}
header .menu .shake {
  animation: shake 0.75s infinite;
}
@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  20% {
    transform: translate(-1.5px, -1.5px) rotate(0.5deg);
  }
  30% {
    transform: translate(1.5px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  50% {
    transform: translate(-0.5px, 1px) rotate(-0.5deg);
  }
  60% {
    transform: translate(-1.5px, 0.5px) rotate(0deg);
  }
  70% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  80% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  90% {
    transform: translate(0.5px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
}
header .first-view-container {
  min-height: 100vh;
}
@media (max-width: 575px) {
  header .first-view-container {
    min-height: 140vh;
  }
}
header .first-view-container .image-header-container {
  padding-top: 1rem;
}
@media (max-width: 1013px) {
  header .first-view-container .image-header-container {
    display: none;
  }
}
header .first-view-container .image-header-container img {
  height: 90vh;
  position: relative;
  left: -5rem;
  opacity: 0;
}
header .first-view-container .text-header-container {
  position: relative;
  left: 0rem;
}
@media (max-width: 1013px) {
  header .first-view-container .text-header-container {
    left: 8rem;
  }
}
@media (max-width: 767px) {
  header .first-view-container .text-header-container {
    left: 4.5rem;
  }
}
header .first-view-container .text-header-container .ribbon {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  position: absolute;
  top: 20vh;
  left: -18rem;
  padding: 0.25rem 5rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px 10px 0 0;
  -webkit-animation: main 250ms;
  -moz-animation: main 250ms;
  -ms-animation: main 250ms;
  animation: main 250ms;
}
@media (max-width: 1199px) {
  header .first-view-container .text-header-container .ribbon {
    left: -6rem;
    width: 330px;
    padding: 0.25rem 1rem;
  }
}
@media (max-width: 991px) {
  header .first-view-container .text-header-container .ribbon {
    width: 400px;
    top: 15vh;
  }
}
@media (max-width: 767px) {
  header .first-view-container .text-header-container .ribbon {
    top: 25vh;
  }
}
@media (max-width: 575px) {
  header .first-view-container .text-header-container .ribbon {
    width: 320px;
    top: 30vh;
    left: -4.5rem;
    margin-left: 0.05rem;
  }
}
header .first-view-container .text-header-container .ribbon span {
  font-size: 2.5rem;
  font-weight: bold;
}
@media (max-width: 1199px) {
  header .first-view-container .text-header-container .ribbon span {
    font-size: 1.4rem;
  }
}
@media (max-width: 991px) {
  header .first-view-container .text-header-container .ribbon span {
    font-size: 1.7rem;
  }
}
@media (max-width: 575px) {
  header .first-view-container .text-header-container .ribbon span {
    font-size: 1.35rem;
  }
}
header .first-view-container .text-header-container .ribbon i {
  position: absolute;
}
@media (max-width: 767px) {
  header .first-view-container .text-header-container .ribbon i {
    display: none;
  }
}
header .first-view-container .text-header-container .ribbon i:first-child, header .first-view-container .text-header-container .ribbon .ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #043140;
  -webkit-animation: edge 500ms;
  -moz-animation: edge 500ms;
  -ms-animation: edge 500ms;
  animation: edge 500ms;
}
header .first-view-container .text-header-container .ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #043140;
}
header .first-view-container .text-header-container .ribbon i:nth-child(3), header .first-view-container .text-header-container .ribbon .ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid #333333;
  border-left-color: transparent;
  -webkit-animation: back 600ms;
  -moz-animation: back 600ms;
  -ms-animation: back 600ms;
  animation: back 600ms;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
header .first-view-container .text-header-container .ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #333333;
  border-right-color: transparent;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
header .first-view-container .text-header-container p {
  display: none;
  color: #333333;
  font-size: 4rem;
  font-weight: bold;
}
@media (max-width: 1399px) {
  header .first-view-container .text-header-container p {
    font-size: 2.7rem;
  }
}
@media (max-width: 991px) {
  header .first-view-container .text-header-container p {
    font-size: 3rem;
  }
}
@media (max-width: 575px) {
  header .first-view-container .text-header-container p {
    font-size: 2rem;
  }
}
header .first-view-container .text-header-container p:nth-of-type(2) {
  margin-left: 10rem;
}
@media (max-width: 575px) {
  header .first-view-container .text-header-container p:nth-of-type(2) {
    margin-left: 0rem;
  }
}
header .first-view-container .text-header-container div {
  position: relative;
  display: flex;
  align-items: baseline;
  margin-left: 11rem;
}
@media (max-width: 1199px) {
  header .first-view-container .text-header-container div {
    margin-left: 5rem;
  }
}
@media (max-width: 991px) {
  header .first-view-container .text-header-container div {
    width: 450px;
  }
}
@media (max-width: 767px) {
  header .first-view-container .text-header-container div {
    margin-left: 2rem;
  }
}
@media (max-width: 575px) {
  header .first-view-container .text-header-container div {
    margin-left: -0.2rem;
    width: 200px;
    margin-bottom: 10rem;
  }
}
header .first-view-container .text-header-container div b {
  display: none;
  font-size: 1rem;
  color: #333333;
}
header .first-view-container .text-header-container div img {
  display: none;
  position: absolute;
  right: 4rem;
  bottom: -0.3rem;
  height: 4rem;
}
header .first-view-container .header-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75vh;
  left: -1.5rem;
}
@media (max-width: 1399px) {
  header .first-view-container .header-social-media {
    left: -5rem;
  }
}
@media (max-width: 575px) {
  header .first-view-container .header-social-media {
    flex-wrap: wrap;
    left: -0.5rem;
    width: 100%;
  }
}
header .first-view-container .header-social-media li {
  display: none;
  position: relative;
}
header .first-view-container .header-social-media li a {
  display: inline-block;
  padding: 1rem;
  background-color: #333333;
  border-radius: 50%;
  margin-right: 1rem;
  transition: all 200ms;
  left: -1.5rem;
}
@media (max-width: 767px) {
  header .first-view-container .header-social-media li a {
    margin-right: 0.5rem;
  }
}
@media (max-width: 575px) {
  header .first-view-container .header-social-media li a {
    margin-right: 0%;
    margin-bottom: 0.5rem;
  }
}
header .first-view-container .header-social-media li a:hover {
  transform: translateY(-5px);
}
@media (max-width: 1199px) {
  header .first-view-container .header-social-media li a img {
    height: 3rem;
  }
}
@media (max-width: 575px) {
  header .first-view-container .header-social-media li a img {
    height: 2rem;
  }
}
header .first-view-container .header-social-media li:nth-child(6) a {
  padding: 1.4rem;
}
@media (max-width: 1199px) {
  header .first-view-container .header-social-media li:nth-child(6) a {
    padding: 1rem;
  }
}
header .semicircleHeader {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 100vh;
  background-color: #7433ed;
  height: 10vh;
  width: 100%;
  border-radius: 500px 500px 0 0;
}
@media (max-width: 575px) {
  header .semicircleHeader {
    top: 130vh !important;
  }
}

main #skillSet {
  height: 100vh;
}
main #skillSet .semicircleSkill {
  display: inline-block;
  background-color: #7433ed;
  height: 10vh;
  width: 100%;
  border-radius: 0 0 500px 500px;
}
main #skillSet .semicircleSkill span {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
main #skillSet .skillSet-container {
  height: 90vh;
  width: 100%;
  padding: 3rem;
  overflow-x: hidden;
}
main #skillSet .skillSet-container .skill-card {
  z-index: 2;
  position: relative;
  padding-left: 1rem;
}
@media (max-width: 1199px) {
  main #skillSet .skillSet-container .skill-card {
    display: none;
  }
}
main #skillSet .skillSet-container .skill-card div {
  position: absolute;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: all 1.2s;
}
main #skillSet .skillSet-container .skill-card img {
  height: 72vh;
  position: relative;
}
main #skillSet .skillSet-container .skill-card .front {
  transform: perspective(1000px) rotateY(0deg);
}
main #skillSet .skillSet-container .skill-card .back {
  transform: perspective(1000px) rotateY(180deg);
}
main #skillSet .skillSet-container ul {
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0%;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 1rem;
  transition: all 200ms;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.246);
  overflow: auto;
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 991px) {
  main #skillSet .skillSet-container ul {
    text-align: center;
  }
}
main #skillSet .skillSet-container ul:hover {
  background-color: #fdfdfd;
}
main #skillSet .skillSet-container ul:hover .skillSet-text {
  font-size: 5.5rem;
}
@media (max-width: 991px) {
  main #skillSet .skillSet-container ul:hover .skillSet-text {
    font-size: 3.5rem;
  }
}
@media (max-width: 575px) {
  main #skillSet .skillSet-container ul:hover .skillSet-text {
    font-size: 2.5rem;
  }
}
main #skillSet .skillSet-container ul > div {
  position: relative;
}
main #skillSet .skillSet-container ul > div .skillSet-text {
  z-index: 1;
  position: absolute;
  top: 10rem;
  left: 30%;
  font-size: 5rem;
  color: #333333;
  font-weight: bold;
  margin-left: 0rem;
  width: 65%;
  height: 20rem;
  text-align: center;
  transition: all 200ms;
}
@media (max-width: 1199px) {
  main #skillSet .skillSet-container ul > div .skillSet-text {
    left: 15%;
  }
}
@media (max-width: 991px) {
  main #skillSet .skillSet-container ul > div .skillSet-text {
    top: 6rem;
  }
}
@media (max-width: 991px) {
  main #skillSet .skillSet-container ul > div .skillSet-text {
    font-size: 4rem;
    top: 8rem;
    left: 20%;
  }
}
@media (max-width: 767px) {
  main #skillSet .skillSet-container ul > div .skillSet-text {
    font-size: 3rem;
    top: 10rem;
    left: 20%;
  }
}
@media (max-width: 575px) {
  main #skillSet .skillSet-container ul > div .skillSet-text {
    font-size: 2rem;
  }
}
main #skillSet .skillSet-container ul > div .skillSet-text + img {
  position: absolute;
  top: 2rem;
  left: 40%;
  height: 30rem;
}
@media (max-width: 1199px) {
  main #skillSet .skillSet-container ul > div .skillSet-text + img {
    left: 20%;
  }
}
@media (max-width: 991px) {
  main #skillSet .skillSet-container ul > div .skillSet-text + img {
    left: 4%;
    top: 0;
  }
}
@media (max-width: 767px) {
  main #skillSet .skillSet-container ul > div .skillSet-text + img {
    left: 0%;
    height: 25rem;
    top: 2rem;
  }
}
@media (max-width: 575px) {
  main #skillSet .skillSet-container ul > div .skillSet-text + img {
    height: 10rem;
    top: 9rem;
  }
}
main #skillSet .skillSet-container ul .skill {
  display: flex;
  align-items: center;
  display: none;
  overflow: hidden;
}
main #skillSet .skillSet-container ul .skill > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  padding: 0;
  margin: 0 12px;
  height: 5.6rem;
  width: 5.6rem;
  cursor: zoom-in;
}
main #skillSet .skillSet-container ul .skill > div:first-of-type:hover::before {
  height: 10rem;
  width: 10rem;
}
main #skillSet .skillSet-container ul .skill > div:first-of-type:hover span {
  transform: translateY(0);
}
main #skillSet .skillSet-container ul .skill > div:first-of-type::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -1rem;
  background-color: #333333;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  transition: all 500ms;
}
@media (max-width: 991px) {
  main #skillSet .skillSet-container ul .skill > div:first-of-type::before {
    display: none;
  }
}
main #skillSet .skillSet-container ul .skill > div:first-of-type img {
  display: none;
  height: 5rem;
}
main #skillSet .skillSet-container ul .skill > div:first-of-type span {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transform: translateY(50px);
  transition: all 500ms;
}
@media (max-width: 991px) {
  main #skillSet .skillSet-container ul .skill > div:first-of-type span {
    display: none;
  }
}
main #skillSet .skillSet-container ul .skill .skill-bar-container {
  opacity: 0;
  padding: 3px;
  border: 3px #7433ed solid;
  border-radius: 50px;
  height: 30px;
  transition: all 1s;
}
main #skillSet .skillSet-container ul .skill .skill-bar-container .skill-bar {
  background-color: #333333;
  height: 100%;
  width: 0%;
  border-radius: 50px;
  transition: all 1s;
}
main #skillSet .skillSet-container ul li:nth-of-type(3) img {
  height: 4rem !important;
}
main #skillSet .skillSet-container ul li:nth-of-type(4) img {
  margin-top: 3px !important;
}
main #skillSet .skillSet-container ul li:nth-of-type(7) img {
  height: 5.5rem !important;
}
main #portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
main #portfolio > span {
  color: #333333;
  font-weight: bold;
  font-size: 3rem;
}
main #portfolio #find-container {
  width: 100%;
  background-color: #333333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
  margin: 0%;
}
main #portfolio #find-container .select p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
main #portfolio #find-container .select .options {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
main #portfolio #find-container .select .options #show-skills {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}
@media (max-width: 575px) {
  main #portfolio #find-container .select .options #show-skills {
    display: none;
  }
}
main #portfolio #find-container .select .options #show-skills input {
  cursor: pointer;
  transition: all 200ms;
}
main #portfolio #find-container .select .options #show-skills input:focus {
  background-image: url("../img/switch.png") !important;
  box-shadow: 0 0 0 0.2rem #460fab;
  border: 1px #7433ed solid !important;
}
main #portfolio #find-container .select .options #show-skills input:checked {
  background-image: url("../img/switch-checked.png") !important;
  background-color: #7433ed !important;
  border: 1px #7433ed solid !important;
}
main #portfolio #find-container .select .options #show-skills label {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
main #portfolio #find-container .select .options span {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 9rem;
  cursor: pointer;
}
@media (max-width: 1199px) {
  main #portfolio #find-container .select .options span {
    margin-left: 3rem;
  }
}
main #portfolio #find-container .select .select-skills {
  height: 11rem;
  width: 70%;
  border-radius: 10px;
  background-color: white;
  padding: 0.5rem;
  overflow-y: scroll;
  cursor: default;
}
main #portfolio #find-container .select .select-skills button {
  display: inline-block;
  color: white;
  font-weight: bold;
  background-color: #7433ed;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  border: 0px;
  margin: 0.1rem 0;
  transition: all 200ms;
}
main #portfolio #find-container .select .select-skills button:hover {
  background-color: #844aef;
  cursor: pointer;
}
main #portfolio #find-container .select .select-skills .selected-skill {
  background-color: #333333;
  color: white;
  transition: all 200ms;
}
main #portfolio #find-container .select .select-skills .selected-skill:hover {
  background-color: #404040;
  cursor: pointer;
}
main #portfolio #find-container .find p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
main #portfolio #find-container .find .search-skills-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
main #portfolio #find-container .find .search-skills-container .search-skills {
  border: 1px grey solid;
  padding: 0.5rem 0.75rem 0.45rem 0.5rem;
  border: 0px transparent solid;
  transition: all 200ms;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50%;
}
main #portfolio #find-container .find .search-skills-container .search-skills:focus {
  outline: none !important;
  outline-color: none !important;
  outline-style: none !important;
  outline-width: 0 !important;
  border-left: 0px transparent solid;
  box-shadow: 0 0 0 0.2rem rgba(51, 221, 139, 0.4509803922);
}
main #portfolio #find-container .find .search-skills-container button {
  display: inline-block;
  background-color: #641ceb;
  padding: 0.5rem;
  height: 100%;
  color: white;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 200ms;
  border: none;
}
main #portfolio #find-container .find .search-skills-container button:hover {
  background-color: #844aef;
  cursor: pointer;
}
main #portfolio #find-container .find .search-skills-container #blank {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #641ceb;
  padding: 0.35rem;
  border-radius: 5px;
  transition: all 200ms;
  margin-left: 1rem;
  border: none;
}
main #portfolio #find-container .find .search-skills-container #blank:hover {
  background-color: #844aef;
  cursor: pointer;
}
main #portfolio #find-container .find .selected-skills {
  height: 11rem;
  max-height: 11rem;
  width: 70%;
  border-radius: 10px;
  background-color: white;
  padding: 0.5rem;
  cursor: default;
}
main #portfolio #find-container .find .selected-skills button {
  display: inline-block;
  opacity: 0;
  color: white;
  font-weight: bold;
  background-color: #7433ed;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  border: 0px;
  margin: 0.1rem 0.1rem;
  transition: all 200ms;
}
main #portfolio #find-container .find .selected-skills button:hover {
  background-color: #844aef;
  cursor: pointer;
}
main #portfolio #projects {
  min-height: 50vh;
  background-color: #7433ed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1.5rem 2rem;
}
main #portfolio #projects .project-container {
  position: relative;
  border: 5px #333333 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
@media (max-width: 575px) {
  main #portfolio #projects .project-container {
    min-height: 125px;
  }
}
main #portfolio #projects .project-container:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
main #portfolio #projects .project-container:hover > span {
  transform: translateY(-140px);
}
@media (max-width: 575px) {
  main #portfolio #projects .project-container:hover > span {
    transform: translateY(-90px);
  }
}
main #portfolio #projects .project-container:hover .watch {
  transform: translateY(-125px);
}
@media (max-width: 575px) {
  main #portfolio #projects .project-container:hover .watch {
    transform: translateY(-80px);
  }
}
main #portfolio #projects .project-container img {
  height: 190px !important;
  width: 345px !important;
  width: max-content;
  border-radius: 7px;
  filter: greyscale(100%);
  transition: all 200ms;
}
main #portfolio #projects .project-container > span {
  color: white;
  font-weight: bold;
  background-color: #333333;
  padding: 0.2rem;
  transform: translateY(-260px);
  font-size: 1.1rem;
  transition: all 200ms;
}
main #portfolio #projects .project-container .watch {
  transform: translateY(-25px);
  transition: all 200ms;
}
main #portfolio #projects .project-container .watch a {
  color: white;
  font-weight: bold;
  background-color: #333333;
  text-decoration: none;
  padding: 0.2rem;
  border-radius: 5px;
  margin-right: 2px;
  transition: all 200ms;
}
main #portfolio #projects .project-container .watch a:hover {
  cursor: pointer;
  background-color: #404040;
  color: #7433ed;
}
main #portfolio #projects .project-container .project-skills {
  position: absolute;
  bottom: 2%;
  left: 1%;
  display: none;
  flex-wrap: wrap;
}
main #portfolio #projects .project-container .project-skills span {
  font-size: 0.6rem;
  font-weight: bold;
  background-color: #333333;
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
  margin: 2px 2px 0 0;
  transition: all 200ms;
  letter-spacing: 1px;
}
main #portfolio #projects .project-container .project-skills span:hover {
  cursor: pointer;
  background-color: #404040;
  color: #7433ed;
}
main #about {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1399px) {
  main #about {
    height: 110vh;
  }
}
main #about > span {
  display: inline-block;
  position: absolute;
  top: 10%;
  width: 60rem;
  height: 5px;
  background-color: #7433ed;
  border-radius: 50px;
}
@media (max-width: 991px) {
  main #about > span {
    display: none;
  }
}
main #about > div:first-of-type {
  position: absolute;
  margin-top: 15rem;
  margin-right: 30rem;
  z-index: 2;
}
@media (max-width: 1399px) {
  main #about > div:first-of-type {
    margin-right: 20rem;
  }
}
@media (max-width: 991px) {
  main #about > div:first-of-type {
    margin-top: 0rem;
    margin-right: 0rem;
    top: 4rem;
    right: 2rem;
  }
}
@media (max-width: 767px) {
  main #about > div:first-of-type {
    top: 2rem;
  }
}
main #about > div:first-of-type .about-arrow {
  display: inline-block;
  position: absolute;
  z-index: 100;
  left: 0%;
  height: 5rem;
  width: 0.55rem;
  background-color: #7433ed;
  border-radius: 10px;
}
main #about > div:first-of-type .about-arrow::marker {
  display: none !important;
}
main #about > div:first-of-type > li {
  border: 1px white solid;
}
main #about > div:first-of-type > li:first-of-type {
  position: absolute;
  top: -6rem;
  left: 2.5rem;
  transform: rotateZ(30deg);
}
main #about > div:first-of-type > li:nth-of-type(2) {
  position: absolute;
  top: -6rem;
  left: -2rem;
  transform: rotateZ(-30deg);
}
main #about > div:first-of-type > li:last-of-type {
  position: absolute;
  top: -2rem;
  left: -4rem;
  transform: rotateZ(-90deg);
}
main #about > div:first-of-type img {
  display: inline-block;
  border-radius: 10px;
}
@media (max-width: 1199px) {
  main #about > div:first-of-type img {
    height: 15rem;
  }
}
@media (max-width: 575px) {
  main #about > div:first-of-type img {
    height: 10rem;
  }
}
@media (max-width: 575px) {
  main #about > div:first-of-type img {
    height: 8rem;
  }
}
main #about > div:last-of-type {
  position: absolute;
  z-index: 1;
  height: 25rem;
  width: 50rem;
  border-radius: 10px;
  background-color: #333333;
  padding: 2rem 2rem 2rem 13rem;
  margin-left: 30rem;
}
@media (max-width: 1399px) {
  main #about > div:last-of-type {
    width: 40rem;
    height: 28rem;
  }
}
@media (max-width: 1199px) {
  main #about > div:last-of-type {
    padding: 2rem 2rem 2rem 5rem;
    width: 30rem;
  }
}
@media (max-width: 991px) {
  main #about > div:last-of-type {
    margin-left: 0%;
    margin-right: 5rem;
    width: 40rem;
    height: 32rem;
    padding: 10rem 1rem 1rem 1rem;
  }
}
@media (max-width: 767px) {
  main #about > div:last-of-type {
    width: 30rem;
    height: 38rem;
    padding: 13rem 1rem 1rem 1rem;
    margin-right: 2rem;
  }
}
@media (max-width: 575px) {
  main #about > div:last-of-type {
    width: 300px;
    margin-right: 0rem;
    padding: 5rem 1rem 1rem 1rem;
  }
}
main #about > div:last-of-type h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
main #about > div:last-of-type p {
  color: white;
  text-align: justify;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}
main #about > div:last-of-type a {
  text-decoration: none;
  padding: 0.75rem 0.95rem;
  background-color: #7433ed;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px #7433ed solid;
  transition: all 200ms;
}
main #about > div:last-of-type a:hover {
  background-color: transparent;
  color: #7433ed;
}
main #contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
main #contact > h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  background-color: #7433ed;
  padding: 0.75rem 1rem;
  border-radius: 50px;
  color: white;
  transition: all 200ms;
  width: 100%;
  text-align: center;
}
@media (max-width: 575px) {
  main #contact > h1 {
    font-size: 2rem;
  }
}
main #contact .form {
  width: 30%;
  background-color: #333333;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
@media (max-width: 1399px) {
  main #contact .form {
    width: 40%;
  }
}
@media (max-width: 1199px) {
  main #contact .form {
    width: 50%;
  }
}
@media (max-width: 991px) {
  main #contact .form {
    width: 70%;
  }
}
@media (max-width: 991px) {
  main #contact .form {
    width: 100%;
  }
}
main #contact .form input {
  margin-bottom: 1rem;
}
main #contact .form input:focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 221, 139, 0.4509803922);
  border: 1px #33dd8b solid !important;
}
main #contact .form textarea {
  margin-bottom: 1rem;
}
main #contact .form textarea:focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 221, 139, 0.4509803922);
  border: 1px #33dd8b solid !important;
}
main #contact .form #btnSend {
  width: 100%;
  background-color: #7433ed;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 50px;
  margin-bottom: 0%;
  transition: all 200ms;
  border: 2px #7433ed solid;
  letter-spacing: 1px;
}
main #contact .form #btnSend:hover {
  background: transparent;
  color: #7433ed;
}
main #contact .form #btnSend:focus {
  box-shadow: none !important;
  border: 2px #7433ed solid !important;
}
main #contact .form a {
  display: hidden;
}
main #contact .contact-social-media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main #contact .contact-social-media li a {
  display: inline-block;
  padding: 1rem;
  background-color: #333333;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 1rem;
  transition: all 200ms;
}
main #contact .contact-social-media li a:hover {
  transform: translateY(-5px);
}
main #contact .contact-social-media li:nth-child(6) a {
  padding: 1.4rem;
}

footer {
  min-height: 10vh;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 991px) {
  footer {
    min-height: 20vh;
  }
}
footer p {
  padding: 0%;
  margin: 0%;
  text-align: center;
}
footer p:first-of-type {
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
footer p:last-of-type {
  color: #7433ed;
  font-weight: bold;
  font-size: 1.2rem;
}

/*# sourceMappingURL=index.css.map */
