@import "_imports.scss";
html{
    scroll-behavior: smooth !important;
}
ul{
    list-style-type: none;
    padding: 0%;
}
body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: $background;
    //FONT FAMILY TRISPACE
    font-family: $font;
}
header{
    position: relative;
    /* MENU */
    .menu{
        z-index: 999;
        position: fixed;
        top: .5rem;
        right: 2.5rem;
        .menu-hover,.menu-item{
            background-color: $principal;
            transition: all 200ms;
        }
        /* MENU HOVER */
        .menu-hover{
            z-index: 999 !important;
            position: relative;
            right: -20rem;
            cursor: pointer;
            margin-top: 1.5rem;
            padding: 1rem;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px white solid;
            &:hover{
                background-color: lighten($principal,4);
                .wave{
                    border: 4px lighten($principal,4) solid;
                }
            }
            &:hover p{
                font-size: 1.15rem;
            }
            &:active{
                background-color: darken($principal,5);
            }
            p{
                position: relative;
                text-align: center;
                line-height: 1.5rem;
                font-size: 1.3rem;
                font-weight: bold;
                margin: 0%;
                padding: 5px;
                color: white;
                transition: all 200ms;
            }
            .arrow-container{
                display: none;
                opacity: 0;
                position: relative;
                top: 20px;
                img{
                    height: 5rem;
                }
            }
            .wave{
                z-index: 1;
                position: absolute;
                height: 9rem;
                width: 9rem;
                border-radius: 50%;
                background-color: transparent;
                border: 4px $principal solid;
            }
        }
        /* MENU ITEMS */
        //CONTAINER
        .menu-item-container{
            position: relative;
            top: -11.5rem;
            right: -1rem;
        }
        .menu-item{
            z-index: 998 !important;
            position: absolute;
            color: white;
            text-align: center;
            border-radius: 10px;
            font-size: 1.1rem;
            font-weight: 600 !important;
            border: 1px white solid;
            &:hover{
                background-color: darken($principal,5);
                font-size: 1rem;
            }
        }
        /* MENU ITEMS ENUMERATED */
        #menu-item-1{
            display:none;
            top: 5px;
            left: -5.7rem;
            transform: skewX(-45deg);
            a{
                display: inline-block;
                color: white;
                text-decoration: none;
                padding: .75rem .5rem;
                width: 94px;
                span{
                    display: inline-block;
                    transform: skewX(45deg);
                }
            }
        }
        #menu-item-2{
            display:none;
            top: 61px;
            left: -7.45rem;
            transform: skewX(-10deg);
            a{
                display: inline-block;
                color: white;
                text-decoration: none;
                padding: .75rem .5rem;
                width: 94px;
                span{
                    display: inline-block;
                    transform: skewX(10deg);
                }
            }
        }
        #menu-item-3{
            display:none;
            top: 117px;
            left: -7rem;
            transform: skewX(20deg);
            a{
                display: inline-block;
                color: white;
                text-decoration: none;
                padding: .75rem .5rem;
                width: 94px;
                span{
                    display: inline-block;
                    transform: skewX(-20deg);
                }
            }
        }
        #menu-item-4{
            display:none;
            top: 173px;
            left: -4.6rem;
            transform: skewX(45deg);
            a{
                display: inline-block;
                color: white;
                text-decoration: none;
                padding: .75rem .5rem;
                width: 94px;
                span{
                    display: inline-block;
                    transform: skewX(-45deg);
                }
            }
        }
        //SHAKE EFFECT
        .shake{
            animation: shake 0.75s infinite;
            @keyframes shake {
                0%{transform:translate(0.5px,0.5px) rotate(0deg);}
                10%{transform:translate(-0.5px,-0.5px) rotate(-0.5deg);}
                20%{transform:translate(-1.5px,-1.5px) rotate(0.5deg);}
                30%{transform:translate(1.5px,1px) rotate(0deg);}
                40%{transform:translate(0.5px,-0.5px) rotate(0.5deg);}
                50%{transform:translate(-0.5px,1px) rotate(-0.5deg);}
                60%{transform:translate(-1.5px,0.5px) rotate(0deg);}
                70%{transform:translate(1.5px,0.5px) rotate(-0.5deg);}
                80%{transform:translate(-0.5px,-0.5px) rotate(0.5deg);}
                90%{transform:translate(0.5px,1px) rotate(0deg);}
                100%{transform:translate(0.5px,-1px) rotate(-0.5deg);}
            }
        }
    }
    /* FIRST VIEW */
    .first-view-container{
        min-height: 100vh;
        @media (max-width:575px) {
            min-height: 140vh;
        }
        //IMAGE
        .image-header-container{
            padding-top: 1rem;
            @media (max-width:1013px) {
                display: none;
            }
            img{
                height: 90vh;
                position: relative;
                left: -5rem;
                opacity: 0;
            }
        }
        //HEADER TEXT
        .text-header-container{
            position: relative;
            left: 0rem;
            @media (max-width:1013px) {
                left: 8rem;
            }
            @media (max-width:767px) {
                left: 4.5rem;
            }
            //RIBBON
            .ribbon {
                display: none;
                justify-content: center;
                align-items: center;
                background-color: $dark;
                position: absolute;
                top: 20vh;
                left: -18rem;
                padding: .25rem 5rem;
                text-align: center;
                @media (max-width:1199px) {
                    left: -6rem;
                    width: 330px;
                    padding: .25rem 1rem;
                }
                @media (max-width:991px) {
                    width: 400px;
                    top: 15vh;
                }
                @media (max-width:767px) {
                    top: 25vh;
                }
                @media (max-width:575px) {
                    width: 320px;
                    top: 30vh;
                    left: -4.5rem;
                    margin-left: .05rem;
                }
                color: white;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-radius: 10px 10px 0 0;
                
                -webkit-animation: main 250ms;
                -moz-animation: main 250ms;
                -ms-animation: main 250ms;
                animation: main 250ms;
                
                span{
                    font-size: 2.5rem;
                    font-weight: bold;
                    @media (max-width:1199px) {
                        font-size: 1.4rem;
                    }
                    @media (max-width:991px) {
                        font-size: 1.7rem;
                    }
                    @media (max-width:575px) {
                        font-size: 1.35rem;
                    }
                }

                & i {
                    position: absolute;
                    @media (max-width:767px) {
                        display: none;
                    }
                }
                & i:first-child, .ribbon i:nth-child(2) {
                    position: absolute;
                    left: -20px;
                    bottom: -20px;
                    z-index: -1;
                    border: 20px solid transparent;
                    border-right-color: #043140;
                    
                    -webkit-animation: edge 500ms;
                    -moz-animation: edge 500ms;
                    -ms-animation: edge 500ms;
                    animation: edge 500ms;
                }
                    
                    & i:nth-child(2) {
                    left: auto;
                    right: -20px;
                    border-right-color: transparent;
                    border-left-color: #043140;
                }
                    
                    & i:nth-child(3), .ribbon i:last-child {
                    width: 20px;
                    bottom: -20px;
                    left: -60px;
                    z-index: -2;
                    border: 30px solid $dark;
                    border-left-color: transparent;
                    
                    -webkit-animation: back 600ms;
                    -moz-animation: back 600ms;
                    -ms-animation: back 600ms;
                    animation: back 600ms;
                    
                    -webkit-transform-origin: 100% 0;
                    -moz-transform-origin: 100% 0;
                    -ms-transform-origin: 100% 0;
                    transform-origin: 100% 0;
                }
                    
                    & i:last-child {
                    bottom: -20px;
                    left: auto;
                    right: -60px;
                    border: 30px solid $dark;
                    border-right-color: transparent;
                    
                    -webkit-transform-origin: 0 0;
                    -moz-transform-origin: 0 0;
                    -ms-transform-origin: 0 0;
                    transform-origin: 0 0;
                }
            }
            //HEADER TEXT
            p{
                display: none;
                color: $dark;
                font: {
                    size: 4rem;
                    weight: bold;
                }
                @media (max-width:1399px) {
                    font-size: 2.7rem;
                }
                @media (max-width:991px) {
                    font-size: 3rem;
                }
                @media (max-width:575px) {
                    font-size: 2rem;
                }
            }
            & p:nth-of-type(2){
                margin-left: 10rem;
                @media (max-width:575px) {
                    margin-left: 0rem;
                }
            }
            //AND LOADING
            div{
                position: relative;
                display: flex;
                align-items: baseline;
                margin-left: 11rem;
                @media (max-width:1199px) {
                    margin-left: 5rem;
                }
                @media (max-width:991px) {
                    width: 450px;
                }
                @media (max-width:767px) {
                    margin-left: 2rem;
                }
                @media (max-width:575px) {
                    margin-left: -.2rem;
                    width: 200px;
                    margin-bottom: 10rem;
                }
                b{
                    display: none;
                    font-size: 1rem;
                    color: $dark;
                }
                img{
                    display: none;
                    position: absolute;
                    right: 4rem;
                    bottom: -.3rem;
                    height: 4rem;
                }
            }
        }
        .header-social-media{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 75vh;
            left: -1.5rem;
            @media (max-width:1399px) {
                left: -5rem;
            }
            // @media (max-width:991px) {
            //     left: -5rem;
            // }
            @media (max-width:575px) {
                flex-wrap: wrap;
                left: -.5rem;
                width: 100%;
            }
            li{
                display: none;
                position: relative;
                a{
                    display: inline-block;
                    padding: 1rem;
                    background-color: $dark;
                    border-radius: 50%;
                    margin-right: 1rem;
                    @media (max-width:767px) {
                        margin-right: .5rem;
                    }
                    @media (max-width:575px) {
                        margin-right: 0%;
                        margin-bottom: .5rem;
                    }
                    transition: all 200ms;
                    left: -1.5rem;
                    &:hover{
                        transform: translateY(-5px);
                    }
                    img{
                        @media (max-width:1199px) {
                            height: 3rem;
                        }
                        @media (max-width:575px) {
                            height: 2rem;
                        }
                    }
                }
            }
            & li:nth-child(6){
                a{
                    padding: 1.4rem;
                    @media (max-width:1199px) {
                        padding: 1rem;
                    }
                }
            }
        }
    }
    .semicircleHeader{
        opacity: 0;
        display: inline-block;
        position: absolute;
        top: 100vh;
        @media (max-width:575px) {
            top: 130vh !important;
        }
        background-color: $principal;
        height: 10vh;
        width: 100%;
        border-radius: 500px 500px 0 0;  
    }
}
main{
    #skillSet{
        height: 100vh;
        .semicircleSkill{
            display: inline-block;
            background-color: $principal;
            height: 10vh;
            width: 100%;
            border-radius: 0 0 500px 500px;  
            span{
                color: white;
                font-weight: bold;
                font-size: 3rem;
            }
        }
        .skillSet-container{
            height: 90vh;
            width: 100%;
            padding: 3rem;
            overflow-x: hidden;
            .skill-card{
                z-index: 2;
                position: relative;
                padding-left: 1rem;
                @media (max-width:1199px) {
                    display: none;
                }
                div{
                    position: absolute;
                    top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    backface-visibility: hidden;
                    transition: all 1.2s;
                }
                img{
                    height: 72vh;
                    position: relative;
                }
                .front{
                    transform: perspective(1000px) rotateY(0deg);
                }
                .back{
                    transform: perspective(1000px) rotateY(180deg);
                }
            }
            ul{
                cursor: pointer;
                height: 100%;
                margin: 0;
                padding: 0%;
                background-color: darken($background,2);
                border-radius: 10px;
                padding: 1rem;
                transition: all 200ms;
                box-shadow: $shadow;
                overflow: auto;
                position: relative;
                overflow-x: hidden;
                @media (max-width:991px) {
                    text-align: center;
                }
                &:hover{
                    background-color: darken($background,0);
                }
                &:hover .skillSet-text{
                    font-size: 5.5rem;
                    @media (max-width:991px) {
                        font-size: 3.5rem;
                    }
                    @media (max-width:575px) {
                        font-size: 2.5rem;
                    }
                }
                & > div{
                    position: relative;
                    .skillSet-text{
                        z-index: 1;
                        position: absolute;
                        top: 10rem;
                        left: 30%;
                        font-size: 5rem;
                        @media (max-width:1199px) {
                            left: 15%;
                        }
                        @media (max-width:991px) {
                            top: 6rem;
                        }
                        @media (max-width:991px) {
                            font-size: 4rem;
                            top: 8rem;
                            left: 20%;
                        }
                        @media (max-width:767px) {
                            font-size: 3rem;
                            top: 10rem;
                            left: 20%;
                        }
                        @media (max-width:575px) {
                            font-size: 2rem;
                        }
                        color: $dark;
                        font-weight: bold;
                        margin-left: 0rem;
                        width: 65%;
                        height: 20rem;
                        text-align: center;
                        transition: all 200ms;
                    }
                    .skillSet-text + img{
                        position: absolute;
                        top: 2rem;
                        left: 40%;
                        height: 30rem;
                        @media (max-width:1199px) {
                            left: 20%;
                        }
                        @media (max-width:991px) {
                            left: 4%;
                            top: 0;
                        }
                        @media (max-width:767px) {
                            left: 0%;
                            height: 25rem;
                            top: 2rem;
                        }
                        @media (max-width:575px) {
                            height: 10rem;
                            top: 9rem;
                        }
                    }
                }
                .skill{
                    display: flex;
                    align-items: center;
                    display: none;
                    overflow: hidden;
                    & > div:first-of-type{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        overflow: hidden;
                        border-radius: 100%;
                        padding: 0;
                        margin: 0 12px;
                        height: 5.6rem;
                        width: 5.6rem;
                        cursor: zoom-in;
                        &:hover::before{
                            height: 10rem;
                            width: 10rem;
                        }
                        &:hover span{
                            transform: translateY(0);
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: -50px;
                            left: -1rem;
                            background-color: $dark;
                            height: 3rem;
                            width: 3rem;
                            border-radius: 100%;
                            transition: all 500ms;
                            @media (max-width:991px) {
                                display: none;
                            }
                        }
                        img{
                            display: none;
                            height: 5rem;
                        }
                        span{
                            position: absolute;
                            color: white;
                            font-weight: bold;
                            font-size: 1rem;
                            transform: translateY(50px);
                            transition: all 500ms;
                            @media (max-width:991px) {
                                display: none;
                            }
                        }
                    }
                    .skill-bar-container{
                        opacity: 0;
                        padding: 3px;
                        border: 3px $principal solid;
                        border-radius: 50px;
                        height: 30px;
                        transition: all 1s;
                        .skill-bar{
                            background-color: $dark;
                            height: 100%;
                            width: 0%;
                            border-radius: 50px;
                            transition: all 1s;
                        }
                    }
                }
                & li:nth-of-type(3){
                    img{
                        height: 4rem !important;
                    }
                }
                & li:nth-of-type(4){
                    img{
                        margin-top: 3px !important;
                    }
                }
                & li:nth-of-type(7){
                    img{
                        height: 5.5rem !important;
                    }
                }
            }
        }
    }
    #portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        & > span{
            color: $dark;
            font-weight: bold;
            font-size: 3rem;
        }
        #find-container{
            width: 100%;
            background-color: $dark;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 1rem;
            margin: 0%;
            .select{
                p{
                    font-size: 1.5rem;
                    color: white;
                    font-weight: bold;
                }
                .options{
                    height: 40px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    #show-skills{
                        display: flex;
                        align-items: center;
                        margin-right: 1rem;
                        cursor: pointer;
                        @media (max-width:575px) {
                            display: none;
                        }
                        input{
                            cursor: pointer;
                            transition: all 200ms;
                            &:focus{
                                background-image: url("../img/switch.png") !important;
                                box-shadow: 0 0 0 0.2rem darken($principal,20);
                                border: 1px $principal solid !important;
                            }
                            &:checked{
                                background-image: url("../img/switch-checked.png") !important;
                                background-color: $principal !important;
                                border: 1px $principal solid !important;
                            }
                        }
                        label{
                            color: white;
                            font-weight: bold;
                            font-size: 1.2rem;
                            margin-left: .5rem;
                            cursor: pointer;
                        }
                    }
                    span{
                        color: white;
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-left: 9rem;
                        cursor: pointer;
                        @media (max-width:1199px) {
                            margin-left: 3rem;
                        }
                    }
                }
                .select-skills{
                    height: 11rem;
                    width: 70%;
                    border-radius: 10px;
                    background-color: white;
                    padding: .5rem;
                    overflow-y: scroll;
                    cursor: default;
                    button{
                        display: inline-block;
                        color: white;
                        font-weight: bold;
                        background-color: $principal;
                        padding: .4rem .6rem;
                        border-radius: 5px;
                        border: 0px;
                        margin: .1rem 0;
                        transition: all 200ms;
                        &:hover{
                            background-color: lighten($principal,5);
                            cursor: pointer;
                        }
                    }
                    .selected-skill{
                        background-color: $dark;
                        color: white;
                        transition: all 200ms;
                        &:hover{
                            background-color: lighten($dark,5);
                            cursor: pointer;
                        }
                    }
                }
            }
            .find{
                p{
                    font-size: 1.5rem;
                    color: white;
                    font-weight: bold;
                }
                .search-skills-container{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    .search-skills{
                        border: 1px grey solid;
                        padding: .5rem .75rem .45rem .5rem;
                        border: 0px transparent solid;
                        transition: all 200ms;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        width: 50%;
                        &:focus{
                            outline: none !important;
                            outline-color: none !important;
                            outline-style: none !important;
                            outline-width: 0 !important;
                            border-left: 0px transparent solid;
                            box-shadow: 0 0 0 0.2rem #33dd8b73;
                        }
                    }
                    button{
                        display: inline-block;
                        background-color: darken($principal,5);
                        padding: .5rem;
                        height: 100%;
                        color: white;
                        font-weight: bold;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        transition: all 200ms;
                        border: none;
                        &:hover{
                            background-color: lighten($principal,5);
                            cursor: pointer;
                        }
                    }
                    #blank{
                        color: white;
                        font-weight: bold;
                        font-size: 1.1rem;
                        background-color: darken($principal,5);
                        padding: .35rem;
                        border-radius: 5px;
                        transition: all 200ms;
                        margin-left: 1rem;
                        border: none;
                        &:hover{
                            background-color: lighten($principal,5);
                            cursor: pointer;
                        }
                    }
                }
                .selected-skills{
                    height: 11rem;
                    max-height: 11rem;
                    width: 70%;
                    border-radius: 10px;
                    background-color: white;
                    padding: .5rem;
                    // overflow-y: scroll;
                    cursor: default;
                    button{
                        display: inline-block;
                        opacity: 0;
                        color: white;
                        font-weight: bold;
                        background-color: $principal;
                        padding: .4rem .6rem;
                        border-radius: 5px;
                        border: 0px;
                        margin: .1rem .1rem;
                        transition: all 200ms;
                        &:hover{
                            background-color: lighten($principal,5);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        #projects{
            min-height: 50vh;
            background-color: $principal;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: flex-start;
            padding: 1.5rem 2rem;
            .project-container{
                position: relative;
                border: 5px $dark solid;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                height: 200px;
                overflow: hidden;
                text-align: center;
                margin-bottom: 1.5rem;
                @media (max-width:575px) {
                    min-height: 125px;
                }
                cursor: pointer;
                &:hover img{
                    opacity: 0.8;
                    filter: alpha(opacity=80);
                }
                &:hover > span{
                    transform: translateY(-140px);
                    @media (max-width:575px) {
                        transform: translateY(-90px);
                    }
                }
                &:hover .watch{
                    transform: translateY(-125px);
                    @media (max-width:575px) {
                        transform: translateY(-80px);
                    }
                }
                img{
                    height: 190px !important;
                    width: 345px !important;
                    width: max-content;
                    border-radius: 7px;
                    filter: greyscale(100%);
                    transition: all 200ms;
                }
                & > span{
                    color: white;
                    font-weight: bold;
                    background-color: $dark;
                    padding: .2rem;
                    transform: translateY(-260px);
                    font-size: 1.1rem;
                    transition: all 200ms;
                }
                .watch{
                    transform: translateY(-25px); 
                    transition: all 200ms;           
                    a{
                        color: white;
                        font-weight: bold;
                        background-color: $dark;
                        text-decoration: none;
                        padding: .2rem;
                        border-radius: 5px;
                        margin-right: 2px;
                        transition: all 200ms;
                        &:hover{
                            cursor: pointer;
                            background-color: lighten($dark,5);
                            color: $principal;
                        }
                    }
                }
                .project-skills{
                    position: absolute;
                    bottom: 2%;
                    left: 1%;
                    display: none;
                    flex-wrap: wrap;
                    span{
                        font-size: .6rem;
                        font-weight: bold;
                        background-color: $dark;
                        color: white;
                        padding: .2rem;
                        border-radius: 5px;
                        margin: 2px 2px 0 0;
                        transition: all 200ms;
                        letter-spacing: 1px;
                        &:hover{
                            cursor: pointer;
                            background-color: lighten($dark,5);
                            color: $principal;
                        }
                    }
                }
            }
        }
    }
    #about{
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:1399px) {
            height: 110vh;
        }
        & > span{
            display: inline-block;
            position: absolute;
            top: 10%;
            width: 60rem;
            height: 5px;
            background-color: $principal;
            border-radius: 50px;
            @media (max-width:991px) {
                display: none;
            }
        }
        & > div:first-of-type{
            position: absolute;
            margin-top: 15rem;
            margin-right: 30rem;
            z-index: 2;
            @media (max-width:1399px) {
                margin-right: 20rem;
            }
            @media (max-width:991px) {
                margin-top: 0rem;
                margin-right: 0rem;
                top: 4rem;
                right: 2rem;
            }
            @media (max-width:767px) {
                top: 2rem;
            }
            .about-arrow{
                display: inline-block;
                position: absolute;
                z-index: 100;
                left: 0%;
                height: 5rem;
                width: .55rem;
                background-color: $principal;
                border-radius: 10px;
                &::marker{
                    display: none !important;
                }
            }
            & > li{
                border: 1px white solid;
            }
            & > li:first-of-type{
                position: absolute;
                top: -6rem;
                left: 2.5rem;
                transform: rotateZ(30deg);
            }
            & > li:nth-of-type(2){
                position: absolute;
                top: -6rem;
                left: -2rem;
                transform: rotateZ(-30deg);
            }
            & > li:last-of-type{
                position: absolute;
                top: -2rem;
                left: -4rem;
                transform: rotateZ(-90deg);
            }
            img{
                display: inline-block;
                border-radius: 10px;
                @media (max-width:1199px) {
                    height: 15rem;
                }
                @media (max-width:575px) {
                    height: 10rem;
                }
                @media (max-width:575px) {
                    height: 8rem;
                }
            }
        }
        & > div:last-of-type{
            position: absolute;
            z-index: 1;
            height: 25rem;
            width: 50rem;
            border-radius: 10px;
            background-color: $dark;
            padding: 2rem 2rem 2rem 13rem;
            margin-left: 30rem;
            @media (max-width:1399px) {
                width: 40rem;
                height: 28rem;
            }
            @media (max-width:1199px) {
                padding: 2rem 2rem 2rem 5rem;
                width: 30rem;
            }
            @media (max-width:991px) {
                margin-left: 0%;
                margin-right: 5rem;
                width: 40rem;
                height: 32rem;
                padding: 10rem 1rem 1rem 1rem;
            }
            @media (max-width:767px) {
                width: 30rem;
                height: 38rem;
                padding: 13rem 1rem 1rem 1rem;
                margin-right: 2rem;
            }
            @media (max-width:575px) {
                width: 300px;
                margin-right: 0rem;
                padding: 5rem 1rem 1rem 1rem;
            }
            h1{
                color: white;
                font-size: 3rem;
                font-weight: bold;
                margin-bottom: 2rem;
            }
            p{
                color: white;
                text-align: justify;
                font-size: 1.1rem;
                margin-bottom: 3rem;
            }
            a{
                text-decoration: none;
                padding: .75rem .95rem;
                background-color: $principal;
                border-radius: 50px;
                color: white;
                font-size: 1.2rem;
                font-weight: bold;
                border: 2px $principal solid;
                transition: all 200ms;
                &:hover{
                    background-color: transparent;
                    color: $principal;

                }
            }
        }
    }
    #contact{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        & > h1{
            font-size: 4rem;
            @media (max-width:575px) {
                font-size: 2rem;
            }
            font-weight: bold;
            margin-bottom: 2rem;
            letter-spacing: 1px;
            background-color: $principal;
            padding: .75rem 1rem;
            border-radius: 50px;
            color: white;
            transition: all 200ms;
            width: 100%;
            text-align: center;
        }
        .form{
            width: 30%;
            background-color: $dark;
            padding: 2rem 1.5rem;
            border-radius: 10px;
            margin-bottom: 2rem;
            @media (max-width:1399px) {
                width: 40%;
            }
            @media (max-width:1199px) {
                width: 50%;
            }
            @media (max-width:991px) {
                width: 70%;
            }
            @media (max-width:991px) {
                width: 100%;
            }
            input{
                margin-bottom: 1rem;
                &:focus{
                    box-shadow: 0 0 0 0.2rem #33dd8b73;
                    border: 1px #33dd8b solid !important;
                }
            }
            textarea{
                margin-bottom: 1rem;
                &:focus{
                    box-shadow: 0 0 0 0.2rem #33dd8b73;
                    border: 1px #33dd8b solid !important;
                }
            }
            #btnSend{
                width: 100%;
                background-color: $principal;
                font-size: 1.2rem;
                font-weight: bold;
                color: white;
                padding: .5rem 0 .5rem 0;
                border-radius: 50px;
                margin-bottom: 0%;
                transition: all 200ms;
                border: 2px $principal solid;
                letter-spacing: 1px;
                &:hover{
                    background: transparent;
                    color: $principal;
                }
                &:focus{
                    box-shadow: none !important;
                    border: 2px $principal solid !important;
                }
            }
            a{
                display: hidden;
            }
        }
        .contact-social-media{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            li{
                a{
                    display: inline-block;
                    padding: 1rem;
                    background-color: $dark;
                    border-radius: 50%;
                    margin-right: 1rem;
                    margin-top: 1rem;
                    transition: all 200ms;
                    &:hover{
                        transform: translateY(-5px);
                    }
                }
            }
            & li:nth-child(6){
                a{
                    padding: 1.4rem;
                }
            }
        }
    }
}
footer{
    min-height: 10vh;
    @media (max-width:991px) {
        min-height: 20vh;
    }
    background-color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    p{
        padding: 0%;
        margin: 0%;
        text-align: center;
    }
    & p:first-of-type{
        color: white;
        font-size: 1rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }
    & p:last-of-type{
        color: $principal;
        font-weight: bold;
        font-size: 1.2rem;
    }
}